[submodule "telework-rocket"]
	path = telework-rocket
	url = https://github.com/TeleworkInc/telework-rocket.git
[submodule "site-rocket"]
	path = site-rocket
	url = https://github.com/TeleworkInc/site-rocket
[submodule "yamlayout"]
	path = yamlayout
	url = https://github.com/TeleworkInc/yamlayout.git
[submodule "typewriter"]
	path = typewriter
	url = https://github.com/TeleworkInc/typewriter.git
[submodule "web-widgets"]
	path = web-widgets
	url = https://github.com/TeleworkInc/web-widgets.git
[submodule "telework-bash-scripts"]
	path = telework-bash-scripts
	url = https://github.com/TeleworkInc/telework-bash-scripts.git
[submodule "window-document"]
	path = window-document
	url = https://github.com/TeleworkInc/window-document
