[submodule "site-rocket"]
	path = site-rocket
	url = https://github.com/TeleworkInc/site-rocket
[submodule "yamlayout"]
	path = yamlayout
	url = https://github.com/TeleworkInc/yamlayout.git
[submodule "typewriter"]
	path = typewriter
	url = https://github.com/TeleworkInc/typewriter.git
[submodule "web-widgets"]
	path = web-widgets
	url = https://github.com/TeleworkInc/web-widgets.git
[submodule "telework-bash-scripts"]
	path = telework-bash-scripts
	url = https://github.com/TeleworkInc/telework-bash-scripts.git
[submodule "window-document"]
	path = window-document
	url = https://github.com/TeleworkInc/window-document
[submodule "enable-browser-mode"]
	path = enable-browser-mode
	url = https://github.com/christiantjl/enable-browser-mode.git
[submodule "enable-window-document"]
	path = enable-window-document
	url = https://github.com/TeleworkInc/enable-window-document
[submodule "web-compress"]
	path = web-compress
	url = https://github.com/TeleworkInc/web-compress.git
[submodule "gproject"]
	path = gnv
	url = https://github.com/TeleworkInc/gproject.git
[submodule "cli-template"]
	path = cli-template
	url = https://github.com/TeleworkInc/cli-template.git
[submodule "call-bash"]
	path = await-shell
	url = https://github.com/TeleworkInc/call-bash.git
[submodule "state-machine"]
	path = state-machine
	url = https://github.com/TeleworkInc/state-machine
[submodule "nodetouch"]
	path = filetouch
	url = https://github.com/TeleworkInc/nodetouch.git
[submodule "gdev-template"]
	path = gdev-template
	url = https://github.com/TeleworkInc/gdev-template.git
[submodule "rollup-plugin-executable-output"]
	path = rollup-plugin-executable-output
	url = https://github.com/TeleworkInc/rollup-plugin-executable-output.git
[submodule "await-shell"]
	url = https://github.com/TeleworkInc/await-shell.git
[submodule "telework-npm"]
	path = telework-npm
	url = https://github.com/TeleworkInc/telework-npm.git
[submodule "future-event"]
	path = future-event
	url = https://github.com/TeleworkInc/future-event.git
[submodule "gnv-template"]
	path = gnv-template
	url = https://github.com/TeleworkInc/gnv-template.git
[submodule "rollup-plugin-export-all-default"]
	path = rollup-plugin-export-default
	url = https://github.com/TeleworkInc/rollup-plugin-export-all-default.git
[submodule "eslint-plugin-consistent-imports"]
	path = eslint-plugin-consistent-imports
	url = https://github.com/TeleworkInc/eslint-plugin-consistent-imports.git
[submodule "web-compile"]
	path = web-compile
	url = https://github.com/TeleworkInc/web-compile.git
